body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: whitesmoke;
}

h2 {
    padding: 20px 0;
}

h4 {
    padding-top: 10px;
}

.contentBox {
    margin: 0 auto;
    width: 55vw;
    height: 45vh;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 3px gray;
    background: white;
}

textarea {
    resize: none;
    width: 40vw;
    height: 15vh;
    margin: 10px;
}

::placeholder {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.btn {
    margin: 10px 30px;
    border-radius: 24px;
}